<h3>Add page</h3><br/>
<form method="post" action="">
    <div class="form-group">
        <label for="name">Alias</label>
        <input type="text" id="name" name="name" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="description">Alias</label>
        <input type="text" id="description" name="description" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="date">Content</label>
        <textarea name="date" id="date" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="hidden">Publish?</label>
        <input type="checkbox" name="hidden" id="hidden" checked="checked" />
    </div>
    <input type="submit" class="btn btn-success" />
</form>